*{
    margin: 0;
    padding: 0;
}

th {
    padding: 5px 10px;
}

td {
    padding: 5px 10px;
}
.process{
    width: 70%;
}

/* 总画布 */
.all{
    padding-top: 70px;
    font-family: 'PingFangSC-Regular,Helvetica,Tahoma,Arial,Microsoft Yahei,"宋体",sans-serif';
}
.video-box {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 70px;
    z-index: -1;
    background-color: #d1282e;
}
.gif{
    display: none;
}
.video-box video{
    width: auto;
    height: 56.8vw;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    margin: 0;
}
/* 导航 */
.nav{
    width: 100%;
    box-sizing: border-box;
    padding: 0 10vw;
    background: #d1282e;
    max-width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #fff;
}
.nav .title,.footer .title{
    width: 45px;
    height: 45px;
    margin-right: 20px;
}
.nav .list{
    display: flex;
}
.nav a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 0 20px;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.nav a:hover{
    color: #f6a81c;
    font-weight: bolder;
}
.nav a::after{
    content: "";
    width: 2px;
    height: 16px;
    background: #000;
    position: absolute;
    left: -1px;
    top: calc(50% - 8px);
}
.nav a:first-child::after{
    display: none;
}
/* 功能介绍 */
.doc-box{
    box-sizing: border-box;
    height: 56.25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 7vw;
}
.doc-title{
    font-size: 4vw;
    padding-bottom: 2vw;
}
.doc{
    font-size: 1.6vw;
    color: #fff;
    margin: 0 ;
}
.box1{
    background-color: #d1282e;
    margin-top: 56vw;
    color: #fff;
    height: 50vw;
}
.box2{
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    height: 60vw;
}
.box3{
    background-color: #d1282e;
    color: #fff;
    height: 63vw;
}
.box4{
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    height: 45vw;
}
.link{
    color:#f6a81c;
    text-decoration: none;
    font-weight: 700;
}
.img{
    width: 200px;
    height: auto;
    margin: 2vw 0;
}
table {
    margin: 0 auto;
    text-align: center;
    border: 3px #f6a81c solid;
    border-radius: 4px;
    color: white;
    border-collapse: collapse;
    margin-bottom: 2vw;
    font-size: 1.6vw;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: #282828;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 650px){
    .nav{
        padding: 0 5px;
    }
    .nav a{
        font-size: 15px;
        padding: 0 8px;
    }
    .nav .title{
        margin-right: 0;
    }
    .doc-title{
        font-size: 22px;
    }
    .process{
        width: 100vw;
    }
    .doc{
        font-size: 1.8vh;
    }
    .link{
        font-size: 2.5vh;
    }
    .img{
        width: 100px;
    }
    .box1{
        height: 70vh;
    }
    .box2{
        height: 70vh;
    }
    .box3{
        height: 98vh;
    }
    .box4{
        height: 60vh;
    }
    .video-box video{
        display: none;
    }
    .gif{
        display: block;
        width: 100%;
        height: auto;
    }
}